<h1 class="title">
  <%= @post.title %>
</h1>
<p class="body">
  <%= @post.body %>
</p>
<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
</p>
<%= link_to 'Back', posts_index_path %>
