<nav>
  <div class="nav-wrapper red lighten-1">
    <a href="/" class="brand-logo center">Chuck Norris Anonymous</a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><%= link_to 'New Post', new_post_path %></li>
    </ul>
  </div>
</nav>
